@tailwind base;
@tailwind components;
@tailwind utilities;
body::-webkit-scrollbar {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: rgb(113, 200, 247) rgb(66, 212, 245);
}
body::-webkit-scrollbar {
  @apply w-1.5;
}
body::-webkit-scrollbar-track {
  @apply bg-gradient-to-b from-slate-100 to-gray-100;
}
body::-webkit-scrollbar-thumb {
  @apply rounded-full bg-gradient-to-tr from-blue-500 to-blue-500;
}
.nav-default{
    @apply flex items-center justify-center relative top-8 lg:top-5 left-0 right-0 transition-all duration-300;
  }
  .nav-sticky{
    @apply bg-white/80 bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-20 flex items-center h-[9vh] fixed top-0 left-0 right-0 opacity-100 z-[100] shadow-sm shadow-slate-100;
    
  }